body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Lora', 'Times new roman', 'Arial', 'Helvetica', serif;
}

.modal {
  opacity: 0;
  display: flex;
  pointer-events: none;
  transition: opacity .5s ease-in-out .1s;
  z-index: $modalZIndex;

  h1,h2,h3,h4,h5 {
    color: $clear-1;
  }

  &.is-active {
    opacity: 1;
    pointer-events: all;

    .modal-close {
      pointer-events: all;
    }
  }

  .modal-close {
    z-index: 3;
    max-width: unset;
    max-height: unset;
    pointer-events: none;
  
    &:hover {
      cursor: pointer;
    }
  
    &::before {
      width: 100%;
    }
  
    &::after {
      height: 100%;
    }

    @media (min-width: $tablet) {
      width: $size-1;
      height: $size-1;
    }
  }

  .modal-content {
    padding-top: $modal-close-dimensions + $size-5;
    @media (min-width: $tablet) {
      padding-top: $modal-close-dimensions;
      max-width: $desktop;
      width: 100%;
      // padding-top: 0;
    }
  }
}
