@import '../node_modules/bulma/bulma.sass';

.container {
  max-width: $tablet;
}

body, button, input, optgroup, select, textarea {
  font-family: 'Lora', 'Arial', 'Helvetica', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Quattrocento', 'Arial', 'Helvetica', sans-serif;
}

.modal {
  opacity: 0;
  display: flex;
  pointer-events: none;
  transition: opacity .5s ease-in-out .1s;
  z-index: $modalZIndex;
  
  &.is-active {
    opacity: 1;
    pointer-events: all;

    .modal-close {
      pointer-events: all;
    }
  }

  .modal-close {
    pointer-events: none;

    &:hover {
      cursor: pointer;
    }
    
    &::before{
      width: 100%;
    }

    &::after {
      height: 100%;
    }
  }

  .modal-content {
    @media (min-width: $tablet) {
      max-width: $desktop;
      width: 100%;
    }
  }
}

.footer {
  background-color: $dark-2;

  .content ul {
    list-style: none;
  }

  h3 {
    color: $clear;
  }
}