@import 'reset';
@import 'vars';
@import 'bulma';

html {
  scroll-behavior: smooth;
}

body {
  background: $bg;
  color: $clear;
  font-family: 'Arial', 'Helvetica', sans-serif;
  min-width: 100vw;
  min-height: 100svh;
  background-color: $bg;
}

strong {
  color: inherit;
}

.block {
  overflow: hidden;
}

.modal {
  opacity: 0;
  display: flex;
  pointer-events: none;
  transition: opacity .5s ease-in-out .1s;
  z-index: $modalZIndex;
  
  &.is-active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-close {
    &::before{
      width: 100%;
    }

    &::after {
      height: 100%;
    }

  }
}

.section {
  @media (max-width: 600px) {
    padding: $size-5 $size-6;
  }
}

.button {
  &.success{
    background-color: $success;
    color: $clear;
  }

  &.inactive {
    opacity: 0.4;
    pointer-events: none;
    filter: saturate(20%);
  }

  &.is-large {
    @media (max-width: $tablet) {
      font-size: $size-6;
    }
  }
}
