// https://colorhunt.co/palette/fff2ccffd966f4b183dfa67b
$dark-1: #61876E;
$dark-2: #D5E7DE;
$dark-3: #3F6B5D;
$dark-4: #3C6255;
$dark-5: #2C3C3C;
$clear-1: white;
$clear-2: #FEF8C6;
$clear-3: #FDF5BD;
$clear-4: #FCCAB2;
$clear-5: #FAB99E;

$white: #FFFFFF;
$black: $dark-5;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 2rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;
$size-8: 0.25rem;

// TODO What about using rems like in sassflexboxgrid ? Or also using sassflexboxgrid mixins?
$gap: 16px;
$miniMobile: 400px;
$tablet: 769px;
$desktop: 960px + (2 * $gap);
$widescreen: 1152px + (2 * $gap);
$fullhd: 1344px + (2 * $gap);

$bg: $dark-5;
$label-color: $clear-1;
$success: $dark-1;
$link: $clear-2;
$link-hover: $clear-1;

$primaryButtonBg: $dark-5;
$primaryButtonText: $dark-2;
$primaryButtonBgHover: $primaryButtonText;
$primaryButtonTextHover: $primaryButtonBg;

$playerZIndex: 32;
$modalZIndex: $playerZIndex - 10;
$toastZIndex: $modalZIndex + 5;
$sidebarMenuZIndex: $toastZIndex - 1;
$modal-close-dimensions: $size-3;

$listIconSize: 24px;
$listIconSizeBig: 32px;

$barHeight: 4rem;