@import '../node_modules/bulma/sass/utilities/initial-variables.sass';
// https://colorhunt.co/palette/fff2ccffd966f4b183dfa67b
$primary: #FFF2CC;
$secondary: #FFD966;
$tertiary: #F4B183;
$quaternary: #DFA67B;


$bg: #2E3C3C;
$dark: black;
$dark-1: #263840;
$dark-2: #141f24;
$clear: white;
$clear-1: #cecece;

$label-color: $clear;
$success: DarkGreen;
$link: $success;
$link-hover: $clear;

$playerZIndex: 32;
$modalZIndex: 31;
$toastZIndex: 32;
